asyncio
aiohttp
motor
pymongo
marshmallow
umongo
pillow
pyrogram
pymongo[srv]
prettytable
python-dotenv
requests
tgcrypto
dnspython
wget
bs4
cinemagoer
heroku3
pynewtonmath
datetime
pytz
python-dateutil
schedule
